/*
    neon green - #65f87e
    seafoam - #7ff8d2
    really light-blue tealy thing - #84e1ff
    sublime text bkgrnd - #00303e
*/


html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #fff;
    margin: 0;
}

h1, h2, h3, a, p, li {
	font-family: 'Source Code Pro', 'Courier New', monospace;
    color: #000022;
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #000022;
}

a {
    font-family: 'Source Sans Pro', sans-serif;
    color: #000022;
}

#container {
   margin: 0;
   padding: 0;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
}

#container > nav {
   margin: 4px;
   padding: 1em;
}

#container > main {
   -webkit-flex: 4 1 0;
           flex: 4 1 0;
   -webkit-order: 2;
           order: 2;
}

#container > nav {
   -webkit-flex: 1 6 0;
           flex: 1 6 0;
}

#container > nav {
   -webkit-order: 1;
           order: 1;
}

nav a {
    color: #000022;
    text-decoration: none;
    border-bottom: solid;
    border-width: 0.05px;
    font-size: 1.25em;
}

nav a:focus,
nav a:hover {
    color: #fff; 
    background-color: #000022;
    border-bottom: none;
}

main {
    /*border: solid 1px;
    border-color: #000022;*/
    margin: 130px 10px 0 0;
    padding: 1em;
}

main p {
    color: #000022;
    font-family: 'Source Code Pro', 'Courier New', monospace;
    font-size: 1.25em;
    margin-top: -12px;
    letter-spacing: 0.25px;
}

main h4 {
    font-size: 2.25em;
    margin: -10px 0 -20px -70px;
    color: #0020ff;
}


.cursor {
  font-weight: 100;
  font-size: 1em;
  color: #000022;
  /*-webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;*/
  margin-left: -5px;
}

/*@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #000022;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #000022;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #000022;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #000022;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #000022;
  }
}*/


header h1 {
    letter-spacing: -4px;
    font-weight: 300;
    font-family: 'Source Code Pro', 'Courier New', monospace;
    margin-left: 0;
    margin-bottom: -6px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid .col {
    flex: 1;
    width: 32%;
}

.grid .single-col {
    flex: 1;
    width: 100%;
}

/* for technicolor dropshadow effect - this could be better */
.single-col h3 {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: #000022;
    opacity: 0.85;
    letter-spacing: 2.25px;
    font-weight: 700;
}

.single-col .h3-red,
.single-col .h3-green {
    margin-top: -40px;
    margin-left: 5px;
}

.single-col .h3-red {
    color: #fc0dff;
    opacity: 0.2;
}

.single-col .h3-green {
    color: #08fff2;
    opacity: 0.2;
}
/**************************************************************************/

.single-col .solid-black {
    background: #000022;
    height: 200px;
}

footer {
    bottom: 0;
    border-top: solid .5px;
    border-color: #000022;
    width: 100%;
}

footer p {
    font-family: 'Inconsolata', 'Courier New', monospace;
    margin-left: 5px;
}

@media screen and (min-width: 800px) {

}